*, *::before, *::after{
    font-family: sans-serif;
    font-size: 10px;
}
body{
    background: rgba(39, 13, 153, 0.801);
    color: #0c0c0cf5;
    transition: 0.5s ease-in-out;

    

}
p{
    margin-top: 5%;
    font-size: 50px;
    text-align: center;
    font-family: 'Parisienne',fantasy;
    font-weight: bold;
}

    .layout{
	margin: auto;
	width: 350px; height: 540px;
	position: relative;
	background: rgb(139, 145, 212);
	border-radius: 20px;
  justify-content: center;
	box-shadow: 2px 2px 15px rgb(10, 50, 226);
}
.calculator{
    height: 500px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(100px, auto) repeat(5, 70px);
}
.calculator > button{
    margin: 6px;
    color: #fff;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
}
.span-two{
    grid-column: span 2;
    height: 90%; width: 95%;
    border-radius: 5em;
}
button{
    border-radius: 50%;
    border: none;
	  background: linear-gradient(315deg, #7397fc, rgb(192, 207, 255));
	  box-shadow: 2px 2px 6px #3d0de9e8;
}
button:active{
	  background: linear-gradient(315deg, rgb(185, 160, 243), #738cfc);
}
.output{
    grid-column: 1/ -1;
    box-shadow : inset -2px -2px 10px #0a1ed6;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
	  flex-direction:column;
	  padding: 0px 20px;
	  word-wrap: break-word;
	  word-break: break-all;
    border-radius: 30px;
    margin: 35px 0 30px 0;
}
.output .previous {
	 color: rgb(255, 255, 255, .7);
	 font-size: 20px;
   margin-top:10px;
}
.output .current {
	 color: #fff;
	 font-size: 25px;
   margin: 5px 0;
}


body input[type=checkbox]{
    position: absolute;
    right: 10px;
    top: 10px;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.small-txt {
    margin: 20px 10px;
}

input[type="checkbox"] {
    position: absolute;
  
    width: 40px;
    height: 20px;
    background-color: #434343;
    appearance: none;   /* Hides certain features of widgets */ 
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
} 

input[type="checkbox"]:checked {
    background-color: #04ac2e;
}

input[type="checkbox"]::before {
     content: '';
     position: absolute ;
      width: 16px;
     height: 16px;
     background-color: #f2f2f2;
     border-radius: 50%;
     top: 2px;
     left: 2px;
     transition: 0.7s ease;
}

input[type="checkbox"]:checked::before {
    transform: translateX(20px);
    
    
}

.dark-mode  {
    background-color: #252525;
    color: #f2f2f2;
}


