body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(perro-bailando.gif);
    background-repeat: repeat;

   
}
nav{
    background: black;
    height: 50px;
    line-height:50px ;
    background-image: url(images.jpg);
    background-size: contain;
    background-repeat:  no-repeat ;
    background-position:  right top ;
    

}


nav ul li{
    
    float:  left;
    list-style: none ;
     margin:  10px;
    
}
.clearfix{
    clear:right;
   
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height:50px ;
}



